body {
  margin: 0px;
  background-image: url("record.png");
  background-repeat: repeat;
  background-color: #ffffff;
}

.heading {
  background-color: #3eb489;
  color: #f6adc6;
  text-align: center;
}

.main{
  background-color: #d3d3d3;
  padding: 1em;
}
